comtypes==1.4.16
edge_tts==7.2.7
elevenlabs==2.27.0
faster_whisper==1.2.1
google-api-python-client==2.198.0
google-auth==2.43.0
google-auth-oauthlib==0.4.6
langdetect==1.0.9
numpy==1.26.4
odfpy==1.4.1
opencv_contrib_python==4.11.0.86
pydub==0.25.1
PyQt5==5.15.9
pyqt5_sip==12.17.2
psutil==7.1.0
pycaw==20251023
python-dotenv==1.2.2
stable_ts==2.19.1
torch==2.9.1
torchaudio==2.9.1
